<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>cent</string>
		<string>multiply</string>
		<string>divide</string>
		<string>afii57929</string>
		<string>uni0900</string>
		<string>u0901</string>
		<string>u0902</string>
		<string>u0903</string>
		<string>uni0904</string>
		<string>u0905</string>
		<string>u0906</string>
		<string>u0907</string>
		<string>u0908</string>
		<string>u0909</string>
		<string>u090A</string>
		<string>u090B</string>
		<string>u090C</string>
		<string>u090D</string>
		<string>u090E</string>
		<string>u090F</string>
		<string>u0910</string>
		<string>u0911</string>
		<string>u0912</string>
		<string>u0913</string>
		<string>u0914</string>
		<string>u0915</string>
		<string>u0916</string>
		<string>u0917</string>
		<string>u0918</string>
		<string>u0919</string>
		<string>u091A</string>
		<string>u091B</string>
		<string>u091C</string>
		<string>u091D</string>
		<string>u091E</string>
		<string>u091F</string>
		<string>u0920</string>
		<string>u0921</string>
		<string>u0922</string>
		<string>u0923</string>
		<string>u0924</string>
		<string>u0925</string>
		<string>u0926</string>
		<string>u0927</string>
		<string>u0928</string>
		<string>u0929</string>
		<string>u092A</string>
		<string>u092B</string>
		<string>u092C</string>
		<string>u092D</string>
		<string>u092E</string>
		<string>u092F</string>
		<string>u0930</string>
		<string>u0931</string>
		<string>u0932</string>
		<string>u0933</string>
		<string>u0934</string>
		<string>u0935</string>
		<string>u0936</string>
		<string>u0937</string>
		<string>u0938</string>
		<string>u0939</string>
		<string>uni093A</string>
		<string>uni093B</string>
		<string>u093C</string>
		<string>u093D</string>
		<string>u093E</string>
		<string>u093F</string>
		<string>u0940</string>
		<string>u0941</string>
		<string>u0942</string>
		<string>u0943</string>
		<string>u0944</string>
		<string>u0945</string>
		<string>u0946</string>
		<string>u0947</string>
		<string>u0948</string>
		<string>u0949</string>
		<string>u094A</string>
		<string>u094B</string>
		<string>u094C</string>
		<string>u094D</string>
		<string>uni094E</string>
		<string>uni094F</string>
		<string>u0950</string>
		<string>u0951</string>
		<string>u0952</string>
		<string>u0953</string>
		<string>u0954</string>
		<string>uni0955</string>
		<string>uni0956</string>
		<string>uni0957</string>
		<string>u0958</string>
		<string>u0959</string>
		<string>u095A</string>
		<string>u095B</string>
		<string>u095C</string>
		<string>u095D</string>
		<string>u095E</string>
		<string>u095F</string>
		<string>u0960</string>
		<string>u0961</string>
		<string>u0962</string>
		<string>u0963</string>
		<string>u0964</string>
		<string>u0965</string>
		<string>u0966</string>
		<string>u0967</string>
		<string>u0968</string>
		<string>u0969</string>
		<string>u096A</string>
		<string>u096B</string>
		<string>u096C</string>
		<string>u096D</string>
		<string>u096E</string>
		<string>u096F</string>
		<string>u0970</string>
		<string>uni0971</string>
		<string>uni0972</string>
		<string>uni0973</string>
		<string>uni0974</string>
		<string>uni0975</string>
		<string>uni0976</string>
		<string>uni0977</string>
		<string>uni0979</string>
		<string>uni097A</string>
		<string>uni097B</string>
		<string>uni097C</string>
		<string>uni097D</string>
		<string>uni097E</string>
		<string>uni097F</string>
		<string>afii61664</string>
		<string>afii301</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>ellipsis</string>
		<string>uni20B9</string>
		<string>minus</string>
		<string>uni25CC</string>
		<string>uniA8E0</string>
		<string>uniA8E1</string>
		<string>uniA8E2</string>
		<string>uniA8E3</string>
		<string>uniA8E4</string>
		<string>uniA8E5</string>
		<string>uniA8E6</string>
		<string>uniA8E7</string>
		<string>uniA8E8</string>
		<string>uniA8E9</string>
		<string>uniA8EA</string>
		<string>uniA8EB</string>
		<string>uniA8EC</string>
		<string>uniA8ED</string>
		<string>uniA8EE</string>
		<string>uniA8EF</string>
		<string>uniA8F0</string>
		<string>uniA8F1</string>
		<string>uniA8F2</string>
		<string>uniA8F3</string>
		<string>uniA8F4</string>
		<string>uniA8F5</string>
		<string>uniA8F6</string>
		<string>uniA8F7</string>
		<string>uniA8F8</string>
		<string>uniA8F9</string>
		<string>uniA8FA</string>
		<string>uniA8FB</string>
		<string>SignI_extended_1</string>
		<string>u0947_u0902.abvs</string>
		<string>u0947_u0930_u094D.rphf.abvs</string>
		<string>u0947_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>u0948_u0902.abvs</string>
		<string>u0948_u0930_u094D.rphf.abvs</string>
		<string>u0948_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>u0930_u094D.rphf</string>
		<string>u0930_u094D.rphf_u0902.abvs</string>
		<string>glyph172</string>
		<string>u0930_u094D.blwf</string>
		<string>u0936_u0930_u094D.blwf.vatu</string>
		<string>u095E_u0930_u094D.blwf.vatu</string>
		<string>u0924_u094D.half_u0924.pres</string>
		<string>u0915_u094D_u0937.akhn</string>
		<string>u091C_u094D_u091E.akhn</string>
		<string>u0915_u094D.half</string>
		<string>u0916_u094D.half</string>
		<string>u0917_u094D.half</string>
		<string>u0918_u094D.half</string>
		<string>u0919_u094D.half</string>
		<string>u091A_u094D.half</string>
		<string>u091B_u094D.half</string>
		<string>u091C_u094D.half</string>
		<string>u091D_u094D.half</string>
		<string>u091E_u094D.half</string>
		<string>u091F_u094D.half</string>
		<string>u0920_u094D.half</string>
		<string>u0921_u094D.half</string>
		<string>u0922_u094D.half</string>
		<string>u0923_u094D.half</string>
		<string>u0924_u094D.half</string>
		<string>u0925_u094D.half</string>
		<string>u0926_u094D.half</string>
		<string>u0927_u094D.half</string>
		<string>u0928_u094D.half</string>
		<string>u0929_u094D.half</string>
		<string>u092A_u094D.half</string>
		<string>u092B_u094D.half</string>
		<string>u092C_u094D.half</string>
		<string>u092D_u094D.half</string>
		<string>u092E_u094D.half</string>
		<string>u092F_u094D.half</string>
		<string>glyph206</string>
		<string>glyph207</string>
		<string>u0932_u094D.half</string>
		<string>u0933_u094D.half</string>
		<string>u0934_u094D.half</string>
		<string>u0935_u094D.half</string>
		<string>u0936_u094D.half</string>
		<string>u0937_u094D.half</string>
		<string>u0938_u094D.half</string>
		<string>u0939_u094D.half</string>
		<string>u0958_u094D.half</string>
		<string>u0959_u094D.half</string>
		<string>u095A_u094D.half</string>
		<string>u095B_u094D.half</string>
		<string>u095E_u094D.half</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu</string>
		<string>u0924_u094D.half_u0930_u094D.blwf.vatu</string>
		<string>u0924_u094D.half_u0924_u094D.half.pres</string>
		<string>u0915_u094D_u0937.akhn_u094D.half</string>
		<string>u091C_u094D_u091E.akhn_u094D.half</string>
		<string>glyph226</string>
		<string>glyph227</string>
		<string>glyph228</string>
		<string>glyph229</string>
		<string>glyph230</string>
		<string>glyph231</string>
		<string>glyph232</string>
		<string>u0940_u0902.abvs</string>
		<string>u0940_u0930_u094D.rphf.abvs</string>
		<string>u0940_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>glyph236</string>
		<string>glyph237</string>
		<string>glyph238</string>
		<string>glyph239</string>
		<string>u0930_u094D.blwf_u0941.blws</string>
		<string>u0930_u094D.blwf_u0942.blws</string>
		<string>glyph242</string>
		<string>glyph243</string>
		<string>glyph244</string>
		<string>glyph245</string>
		<string>u0931_u094D.half</string>
		<string>u0915_u0930_u094D.blwf.vatu</string>
		<string>u0916_u0930_u094D.blwf.vatu</string>
		<string>u0917_u0930_u094D.blwf.vatu</string>
		<string>u091C_u0930_u094D.blwf.vatu</string>
		<string>u091D_u0930_u094D.blwf.vatu</string>
		<string>u0924_u0930_u094D.blwf.vatu</string>
		<string>u0926_u0930_u094D.blwf.vatu</string>
		<string>u092A_u0930_u094D.blwf.vatu</string>
		<string>u092B_u0930_u094D.blwf.vatu</string>
		<string>u092C_u0930_u094D.blwf.vatu</string>
		<string>u092D_u0930_u094D.blwf.vatu</string>
		<string>u092E_u0930_u094D.blwf.vatu</string>
		<string>u0935_u0930_u094D.blwf.vatu</string>
		<string>u0938_u0930_u094D.blwf.vatu</string>
		<string>u0939_u0930_u094D.blwf.vatu</string>
		<string>glyph263</string>
		<string>u0915_u094D.half_u0915.pres</string>
		<string>u0915_u094D.half_u0924.pres</string>
		<string>u0915_u094D.half_u0932.pres</string>
		<string>u0915_u094D.half_u0935.pres</string>
		<string>u0917_u094D.half_u0928.pres</string>
		<string>u0919_u094D.half_u0915.pres</string>
		<string>u0919_u094D.half_u0916.pres</string>
		<string>u0919_u094D.half_u0917.pres</string>
		<string>u0919_u094D.half_u0918.pres</string>
		<string>u0919_u094D.half_u092E.pres</string>
		<string>u0919_u094D.half_u0915_u094D_u0937.akhn.pres</string>
		<string>u091A_u094D.half_u091A.pres</string>
		<string>u091B_u094D.half_u0935.pres</string>
		<string>u091C_u094D.half_u091C.pres</string>
		<string>u091E_u094D.half_u091A.pres</string>
		<string>u091E_u094D.half_u091C.pres</string>
		<string>u091F_u094D.half_u091F.pres</string>
		<string>u091F_u094D.half_u0920.pres</string>
		<string>u091F_u094D.half_u092F.pres</string>
		<string>u091F_u094D.half_u0935.pres</string>
		<string>u0920_u094D.half_u0920.pres</string>
		<string>u0920_u094D.half_u092F.pres</string>
		<string>u0921_u094D.half_u0921.pres</string>
		<string>u0921_u094D.half_u0922.pres</string>
		<string>u0921_u094D.half_u092F.pres</string>
		<string>u0922_u094D.half_u0922.pres</string>
		<string>u0922_u094D.half_u092F.pres</string>
		<string>u0926_u094D.half_u0917.pres</string>
		<string>u0926_u094D.half_u0918.pres</string>
		<string>u0926_u094D.half_u0926.pres</string>
		<string>u0926_u094D.half_u0927.pres</string>
		<string>u0926_u094D.half_u0928.pres</string>
		<string>u0926_u094D.half_u092C.pres</string>
		<string>u0926_u094D.half_u092D.pres</string>
		<string>u0926_u094D.half_u092E.pres</string>
		<string>u0926_u094D.half_u092F.pres</string>
		<string>u0926_u094D.half_u0935.pres</string>
		<string>u0928_u094D.half_u0928.pres</string>
		<string>u092A_u094D.half_u0924.pres</string>
		<string>u092A_u094D.half_u0932.pres</string>
		<string>u092B_u094D.half_u0932.pres</string>
		<string>u0932_u094D.half_u0932.pres</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu_u091A.pres</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu_u0928.pres</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu_u0932.pres</string>
		<string>u0936_u094D.half_u0930_u094D.blwf.vatu_u0935.pres</string>
		<string>u0937_u094D.half_u091F.pres</string>
		<string>u0937_u094D.half_u0920.pres</string>
		<string>u0939_u094D.half_u0923.pres</string>
		<string>u0939_u094D.half_u0928.pres</string>
		<string>u0939_u094D.half_u092E.pres</string>
		<string>u0939_u094D.half_u092F.pres</string>
		<string>u0939_u094D.half_u0932.pres</string>
		<string>u0939_u094D.half_u0935.pres</string>
		<string>u0938_u094D.half_u0924_u0930_u094D.blwf.vatu.pres</string>
		<string>u091C_u094D.half_u091C_u094D.half.pres</string>
		<string>u0926_u0943.blws</string>
		<string>u0930_u0941.psts</string>
		<string>u0930_u0942.psts</string>
		<string>u0939_u0943.blws</string>
		<string>glyph324</string>
		<string>u0918_u0930_u094D.blwf.vatu</string>
		<string>u091A_u0930_u094D.blwf.vatu</string>
		<string>u0925_u0930_u094D.blwf.vatu</string>
		<string>u0927_u0930_u094D.blwf.vatu</string>
		<string>u0928_u0930_u094D.blwf.vatu</string>
		<string>u0932_u0930_u094D.blwf.vatu</string>
		<string>u0919_u094D.half_u0915_u094D.half.half</string>
		<string>u094B_u0902.abvs</string>
		<string>u094B_u0930_u094D.rphf.abvs</string>
		<string>u094B_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>u094C_u0902.abvs</string>
		<string>u094C_u0930_u094D.rphf.abvs</string>
		<string>u094C_u0930_u094D.rphf.abvs_u0902.abvs</string>
		<string>u091E_u0930_u094D.blwf.vatu</string>
		<string>u0923_u0930_u094D.blwf.vatu</string>
		<string>u092F_u0930_u094D.blwf.vatu</string>
		<string>u0937_u0930_u094D.blwf.vatu</string>
		<string>u0915_u094D_u0937.akhn_u0930_u094D.blwf.vatu</string>
		<string>u091C_u094D_u091E.akhn_u0930_u094D.</string>
		<string>npu0915_u0930_u094D.blwf.vatu</string>
		<string>np8</string>
		<string>np5</string>
		<string>np_zha</string>
		<string>lig_0926_0927_0930_092f</string>
		<string>nepali_jha_091d</string>
		<string>nepali_jha_half</string>
		<string>mr_la</string>
		<string>mr_sha</string>
		<string>mr_sha_half</string>
		<string>A</string>
		<string>B</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>G</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>sterling</string>
		<string>exclamdown</string>
		<string>questiondown</string>
		<string>plusminus</string>
		<string>notequal</string>
		<string>logicalnot</string>
		<string>approxequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>yen</string>
		<string>florin</string>
		<string>Euro</string>
		<string>ograve</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>dieresis</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>hungarumlaut</string>
		<string>aogonek</string>
		<string>uni0312</string>
		<string>uni0326</string>
		<string>currency</string>
		<string>perthousand</string>
		<string>dotlessj</string>
		<string>dotlessi</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onehalf</string>
		<string>fraction</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>Oslash</string>
		<string>oslash</string>
		<string>OE</string>
		<string>oe</string>
		<string>AE</string>
		<string>ae</string>
		<string>Ccedilla</string>
		<string>ccedilla</string>
		<string>thorn</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>Eth</string>
		<string>eth</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>section</string>
		<string>brokenbar</string>
		<string>periodcentered</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>degree</string>
		<string>bullet</string>
		<string>uni00AD</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>mu</string>
		<string>paragraph</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>scaron</string>
		<string>Zcaron</string>
		<string>Scaron</string>
		<string>zcaron</string>
		<string>Ydieresis</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Ntilde</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>ntilde</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>pi</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>uni2113</string>
		<string>uni02C9</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>fi</string>
		<string>fl</string>
		<string>partialdiff</string>
		<string>Delta</string>
		<string>summation</string>
		<string>product</string>
		<string>uni2126</string>
		<string>estimated</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>infinity</string>
		<string>radical</string>
		<string>integral</string>
		<string>lozenge</string>
		<string>Amacron</string>
		<string>amacron</string>
		<string>Abreve</string>
		<string>abreve</string>
		<string>Aogonek</string>
		<string>Cacute</string>
		<string>cacute</string>
		<string>Ccircumflex</string>
		<string>ccircumflex</string>
		<string>Ccaron</string>
		<string>ccaron</string>
		<string>Dcaron</string>
		<string>dcaron</string>
		<string>Dcroat</string>
		<string>dcroat</string>
		<string>Emacron</string>
		<string>emacron</string>
		<string>Edotaccent</string>
		<string>edotaccent</string>
		<string>Eogonek</string>
		<string>eogonek</string>
		<string>Ecaron</string>
		<string>ecaron</string>
		<string>Gbreve</string>
		<string>gbreve</string>
		<string>Gcommaaccent</string>
		<string>gcommaaccent</string>
		<string>Imacron</string>
		<string>imacron</string>
		<string>Iogonek</string>
		<string>iogonek</string>
		<string>Idotaccent</string>
		<string>Kcommaaccent</string>
		<string>kcommaaccent</string>
		<string>Lacute</string>
		<string>lacute</string>
		<string>Lcommaaccent</string>
		<string>lcommaaccent</string>
		<string>Lcaron</string>
		<string>lcaron</string>
		<string>uni0315</string>
		<string>Nacute</string>
		<string>nacute</string>
		<string>Ncommaaccent</string>
		<string>ncommaaccent</string>
		<string>Ncaron</string>
		<string>ncaron</string>
		<string>Omacron</string>
		<string>omacron</string>
		<string>Ohungarumlaut</string>
		<string>ohungarumlaut</string>
		<string>Racute</string>
		<string>racute</string>
		<string>Rcommaaccent</string>
		<string>rcommaaccent</string>
		<string>Rcaron</string>
		<string>rcaron</string>
		<string>Sacute</string>
		<string>sacute</string>
		<string>Scedilla</string>
		<string>scedilla</string>
		<string>Tcommaaccent</string>
		<string>tcommaaccent</string>
		<string>Umacron</string>
		<string>umacron</string>
		<string>Uring</string>
		<string>uring</string>
		<string>Uhungarumlaut</string>
		<string>uhungarumlaut</string>
		<string>Uogonek</string>
		<string>uogonek</string>
		<string>Zacute</string>
		<string>zacute</string>
		<string>Zdotaccent</string>
		<string>zdotaccent</string>
		<string>uni03A9</string>
	</array>
</dict>
</plist>
